In [6]:
print ("2nd feb")
print ("Q1 Ans")
for i in range (5):
    print (i , "using for loop")
i =1
print ()
while i<= 5 :
    print(i , "using while loop")
    i= i+1

2nd feb
Q1 Ans
0 using for loop
1 using for loop
2 using for loop
3 using for loop
4 using for loop

1 using while loop
2 using while loop
3 using while loop
4 using while loop
5 using while loop

In [13]:
print("Q2 ans")
print ("using for loop")
s =0
p  =1
for i in range (1, 11,1) :
    

    s  = s+i
   
    p =p*i
print ("product  is " , p)
print ("sum is ", s)
print()
print ("using while loop" )
i1 =1
s1=0
p1=1
while i1<=10 :
    s1=s1+i1
    p1=p1*i1
    i1= i1+1
print ("product  is " , p1)
print ("sum is ", s1)

Q2 ans
using for loop
product  is  3628800
sum is  55

using while loop
product  is  3628800
sum is  55

In [18]:
print ("Q3 Ans")
unit = int(input("enter number of units") )
bill= 0
if unit>300 :
    bill = (unit -300)*20 +100*4.5 +100 *6 +100*10
elif unit >200 and unit <=300:
    bill = (unit -200)*10 +100*4.5 +100 *6
    
elif unit >= 100 and unit <= 200:
     bill = (unit -100)*6 +100*4.5
else :
    bill = (unit -100)*4.5
    
print ("Rs . ",bill )

enter number of units 2250

Rs .  41050.0

In [33]:
print ("Q4 ans")
print ("using for loop\n")
l =list(range (1 , 101,1))
l1=[]

for i in l:
    m= i**3
    if m%4==0 or m%5==0:
        l1.append(i)
    else:
        pass
print (l1, "\n")

print ("using while loop\n")
i1=0
l2=[]
while i1<100 :
    m=l[i1]**3
    if m%4==0 or m%5==0:
        l2.append(l[i1])
    else:
        pass
    i1= i1+1
print (l2 )

Q4 ans
using for loop

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

using while loop

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [35]:
print("Q5 ans")
s="I want to become a data scientist"
count= 0
for i in s:
    if i in ['a' ,'e' ,'i' ,'o', 'u']:
        count =count +1
    else :
        pass
print (count)

11