In [4]:
print ('4th feb assignment')
print ( "Q1 Ans")

l =[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
l.sort( key = lambda x : x[1])
print (l)

4th feb assignment
Q1 Ans
[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [3]:
print ("Q2 ans")
l1 =[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list (map (lambda x: x*x , l1))

Q2 ans

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
print ("Q3 ans")
l2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tuple(map( lambda x: str(x) , l2))

Q3 ans

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [2]:
print ("Q4 Ans")
l3 =list(range(1,26,1)) 
print (l3)
from functools import reduce
a = reduce( lambda x, y: x*y, l3)
print (a)

Q4 Ans
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
15511210043330985984000000

In [14]:
print("Q5 Ans")
l4 =[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

l5 = list(filter(lambda x : x%6==0  , l4))
print (l5)

Q5 Ans
[6, 60, 90, 120]

In [ ]:
rint("Q6 Ans")
l6 =['python', 'php', 'aba', 'radar', 'level']
l5 = list(filter(lambda x : x==x[::-1  , l4))
print (l5)